<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <title><%= title %></title>
 	<link rel='stylesheet' href='/stylesheets/chico-0.13.2.css' />
 	<link rel='stylesheet' href='/stylesheets/local.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src='/javascripts/jquery-1.10.2.js' ></script>
    <script src='/javascripts/jquery.lazyload.js' ></script>
    <script src='/javascripts/app.js' ></script>
  </head>
  <body>
	  <h1><%= title %></h1>

	  <!-- //6 -->
	  <img src="/images/music-icon.png" /> <br>


	  <img src="/images/item1.jpg" width="90" height="90"><br>
	  <img src="/images/item2.jpg" width="90" height="90"><br>
	  <img src="/images/item3.jpg" width="90" height="90"><br>
	  <img src="/images/item4.jpg" width="90" height="90"><br>
	  <img src="/images/item5.jpg" width="90" height="90"><br>
	  <img src="/images/item6.jpg" width="90" height="90"><br>
	  <img src="/images/item7.jpg" width="90" height="90"><br>
	  <img src="/images/item8.jpg" width="90" height="90"><br>
	  <img src="/images/item9.jpg" width="90" height="90"><br>
	  <img src="/images/item10.jpg" width="90" height="90"><br>
	  <img src="/images/item11.jpg" width="90" height="90"><br>
	  <img src="/images/item12.jpg" width="90" height="90"><br>
	  <img src="/images/item13.jpg" width="90" height="90"><br>
	  <img src="/images/item14.jpg" width="90" height="90"><br>
	  <img src="/images/item15.jpg" width="90" height="90"><br>
	  <img src="/images/item16.jpg" width="90" height="90"><br>
	    
	  <img class="lazy" width="900" height="2800" src="/images/big-image.jpg" >


  </body>
</html>