body {
	font-family: Helvetica, Arial,"Nimbus Sans L",sans-serif;
	font-weight: lighter;
}

/* NAVIGATION */

header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 55px;
	background: #FFE600;
	width: 94%;
	padding: 0 3%;
	border-bottom: 1px solid #DCCF4E;
	margin-bottom: 55px;
}

header h1 {
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 0.05em;
	background: url('/images/isologo.png') no-repeat;
	padding: 0 0 0 205px;
	margin: 6px 0 0 0;
	line-height: 2.3em;
	float: left;

}

header ul { 
	float: right;
	position: relative;
	right: 0;
	top: 0;
}

header ul li {
	float:left;
	margin: 20px 12px 0 12px;
}

header ul li a {
	color: #333;
}

header ul li a:hover {
	color: #333;
	text-shadow:0 0 2px #B7AE28;
	text-decoration: none;

}

header ul li a:visited {
	color: #333;
}



header ul li.dc-main-navigation-item-selected a {
	color: #333;
	padding-bottom: 16px;
	border-bottom: 3px solid #888124;
	text-shadow:0 0 2px #B7AE28;
}
header ul li.dc-main-navigation-item-selected a:hover {
	color: #333;
	text-decoration: none;
	padding-bottom: 16px;
	border-bottom: 3px solid #888124;
}


/* WRAPPERS */

div.wraperBody {
	position: relative;
	top:55px;
	z-index: 500;
	padding: 40px 20px 10px;
}

article {
	width: 74%; 
	float: left;
}

/* BLOKS */

section {
	overflow: hidden;
	clear: both;
	margin: 0 0 50px;
}

aside {
	float: right;
	border-left: 1px solid #ededed;
	padding: 0 1.5%;
	margin-left: 1.5%;
	position: relative;
	top: -30px;
	width: 22%;
}

aside h4 {
	margin: 0 0 10px 0;  
	padding: 0;
	font-size: 1.2em;
	font-weight: lighter;
}

aside dl {
	margin-bottom: 20px;
}

aside dl dt {
	margin-top: 10px;
}


/* HEADS */

section h2 {
	font-size: 2.6em;
	font-weight: lighter;
	letter-spacing: 0.03em;
	margin: 40px 0 20px;
}
/*section h2 {
	font-size: 1.2em;
	font-weight: lighter;
	letter-spacing: 0.03em;
	clear: both;
	margin: 10px 0 30px;
}
*/
/* DEF SECTION COLORS */

.color {
	width: 100%;
	overflow: hidden;

}

.color ul li {
	float: left;
	width: 27%;
	margin-bottom: 50px;
}

.color ul li img {

	padding: 25px 0 10px 0;
}

.color ul li dl dt, .color ul li dl dt dl {
	float: left;
}

.color ul li dl dt {
	font-weight: normal;
	margin-right: 5px;
}

.thumbColorYellow {
	height: 40px;
	width: 90px;
	background-color: #F7E100;
	display: block;
}
.thumbColorBlue {
	height: 40px;
	width: 90px;
	background-color: #253680;
	display: block;
}

/* GENERALS */

a:visited {
	color: #0637b3;
}

/* Items List */
.items-list {
	width: 103%;
}
.items-list li {
	background-color: #f5f5f5;
	display: inline-block;
	margin: 0 17px 15px 0;
	width: 200px; height: 200px;
}



/* HEADS */

h2{
	font-size: 2.6em;
	font-weight: lighter;
	letter-spacing: 0.03em;
	margin: 100px 0 30px 0;
}

h3{
	font-weight: lighter;
	font-size: 1.2em;
	letter-spacing: 0.03em;
	color:#666;
	margin: 40px 0 10px 0;
}

h4{
	font-weight: lighter;
	font-size: 14px;
	margin-bottom: 0px;
	color:#666;
}


/* BODY */

section ul{
	list-style-position:inside;
	list-style-type: disc;
	line-height: 24px;
}

tr {
	padding-bottom: 10px;
	display: block;
}

.demo{
	border: 1px solid #ccc;
	padding: 14px 10px;
	border-radius: 4px;
	margin-top: 10px;
}

.demo tr{
	padding-bottom: 0;
	display: inline;
}

.demo-inst{
	border: 1px solid #ccc;
	padding: 14px 10px;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #f2f2f2;
	text-align: center;
}

.demo_mails{
	border: 1px solid #ccc;
	padding: 6px;
	border-radius: 4px;
	width: 45%;
	min-width: 400px;
	margin: 8px 0 20px 0;
	display: table-cell;
	vertical-align: top;
}

.demo_mails tr{
	padding-bottom: 0;
}

.demo_mails_inst{
	background-color: #f2f2f2;
}

.mail_wrapper {
	display: block;
	margin-bottom: 20px;
}

.unwrapp {
	display: table-cell;
	width: 10px;
}

.code_snippet_container{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	max-height: 300px;
	background-color: #000;
	overflow: auto;
	width: 73%; 
	float: left;
	margin: 10px 0 20px 0;
}
.code_snippet_container:hover .btn_copy{
	visibility: visible;
}
.code_snippet_container_mail:hover .btn_copy{
	visibility: visible;
}

.code_snippet_container_mail{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	background-color: #000;
	overflow: auto;
	margin: 8px 0 0 10px;
	display: table-cell;
	position: relative;
}

.code_snippet_container_mail pre{
/*		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;*/
	padding: 10px;
	z-index: 1;
	max-height: 200px;
}

.code_snippet_in_text{
	border: 1px solid #ccc;
	padding: 2px 4px;
	border-radius: 2px;
	background-color: #f8f8f8;
	color: #333;
}

/* GENERALS */

a:visited {
	color: #0637b3;
}

.horizontal_separator{
	width:100%;
	border-bottom:solid 4px #E8E8E8;
	margin:50px 0 50px -2px;
}

.btn_chico{
	padding:0 14px;
	margin-bottom: 20px;
	border:solid 1px #333;
	border-radius:4px;
	display: inline-block;
	height:30px;
	background-color:#2D3277;
	background: url(http://static.mlstatic.com/org-img/emails/misc/back_btn.png) repeat-x;
}

.btn_chico a{
	display: block;
	padding-top: 4px;
	color: #fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	text-decoration:none;
}

.btn_copy{
	visibility: hidden;
	border-radius:3px;
	background-color:#ddd;
	position: absolute;
	width: 84px;
	height: 20px;
	z-index: 2;
}

.btn_copy a{
	padding: 0 8px;
	display: block;
	color: #000000;
	font-size:10px;
	font-weight: bold;
	text-decoration:none;
	z-index: 4;
}

.btn_copy a:hover{
	background-color: #333;
}

/*   MEDIA QUERIES   */
@media screen and (max-width: 1120px) {

	.img_layout{
		width: 99%
	}

}


/**
 *    Performance Pannel
 */

.performance-pannel {
	background-color: rgba(0, 0, 0, .7);
	color: #FFF;
	height: 275px; width: 240px;
	padding: 20px 30px;
	position: fixed;
	top: 80px; right: 20px;
	-webkit-transform: translateZ(0);
}
.performance-pannel h4 {
	color: #FFF;
}
.performance-pannel p {
	font-size: 50px;
	line-height: 1em;
	margin-bottom: 20px;
}